
.card {
    display: flex;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #303030;
    border-radius: 10px;
}

.card img {
    width: 60px;
    border-radius: 5px;
    margin-right: 30px;
}
 .info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
 }
 .info span {
    margin-right: 20px;
    font-size: 0.85rem;
    color: #959595;
 }
.card button {
    border: none;
    background: none;
    height: fit-content;
    transition: all 0.1s ease-in-out;
    cursor: pointer;
}

.card button:hover{
    transform: scale(1.2);
}